
body {
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
    box-sizing: border-box;
    font-family: "Roboto";
    width: 100vw;
}

header {
    padding: 72px 180px;
}

input[placeholder="Поиск"] {
    background-color: #1F293799;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 19px;
    width: 225px;
    padding: 9px 12px 12px 49px;
    border-radius: 100px;
    border-style: none;
    box-sizing: border-box;
    background-image: url(./img/search.png);
    background-repeat: no-repeat;
    background-position: top 13px left 12px;
}

div[class="dateAndProf"] p {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 17px;
}

nav {
    flex: 1;
}

footer {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 28px;
    width: 226px;
    height: 28px;
    margin: 0px auto 75px;
}

#commentByNV {
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 38px;
    padding: 5px;
    max-width: 525px;
    margin-bottom: 30px;
    text-align: center;
    margin: 0px auto 30px;
}

#firstP {
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 32px;
    margin-top: 0px;
}

#myBlog {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 21px;
    padding: 2px 0px;
}

#signB {
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 23px;
    padding: 6px 12px;
    background-color: #4B5563;
}



#NSN {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 28px;
    width: 150px;
    line-height: 28px;
    margin: 0px;
    text-align: center;
}

#prof {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 28px;
    width: 85px;
    height: 28px;
    margin: 0px;
    filter: contrast(30%);
}

.headerNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navSign {
    display: flex;
    gap: 12px;
    align-items: center;
}

.headerMenu {
    list-style: none;
    width: 330px;
    display: flex;
    justify-content: space-between;
}

.headerContainer {
    display: flex;
    align-items: center;
    gap: 77px;
}

.date {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 6px;;
}

.dateAndProf {
    margin-bottom: 28px;
}

.portfl {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.headerMenu a {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 19px;
}

.photoCompDiv {
    max-width: 900px;
    max-height: 600px;
    border-radius: 5px;
    margin: 0px auto 60px;
}

.secTh, .secTh a {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 30px;
}

.ps {
    width: 710px;
    margin: 0px auto 103px;
}