* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
    font-family: "Roboto";
}

header {
    margin: 71px auto 69px;
    max-width: 1080px;
}

nav {
    flex: 1;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

footer {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 28px;
    width: 100%;
    text-align: center;
    margin:0 0 75px 0;
}

h1 {
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 38px;
    text-align: center;
    margin: 0px 0px 30px 0px;
    max-width: 525px;
    padding: 0 5px;
}

input {
    background-color: #1F293799;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 19px;
    width: 225px;
    padding: 9px 12px 12px 49px;
    border-radius: 100px;
    border-style: none;
    box-sizing: border-box;
    background-image: url(./img/search.png);
    background-repeat: no-repeat;
    background-position: top 13px left 12px;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 77px;
}

.my_blog {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.header_menu {
    list-style: none;
    display: flex;
    flex: 1;
    align-items: center;
    gap: 45px;
}

.header_menu a {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 19px;
}

.dateAndProf {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 14px;
}

.date p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin: 0;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.developer {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 28px;
}

.photo_computer {
    max-width: 896px;
    max-height: 594px;
    border-radius: 5px;
}

.section_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 0 100px 0;
    gap: 69px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    font-weight: 400;
    max-width: 708px;
}

#text1 {
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 32px;
    text-align: left;
}

#text2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF;
    align-items: center;
    width: 100%;
    margin: 0;
}

#text3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF;
    align-items: center;
    width: 100%;
    margin: 0;
}

#text3 a {
    color: #FFFFFF;
    text-decoration: underline;
}

#my_blog {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 21px;
    padding: 2px 0px;
    min-width: 79px;
}

#sign_b {
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 23px;
    padding: 6px 12px;
    background-color: #4B5563;
}

#NSN {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 28px;
    width: 148px;
    height: 28px;
    margin: 0px;
}

#prof {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 28px;
    margin: 0px;
    filter: contrast(30%);
}

#htmlCSS {
    min-width: 90px
}