body {
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
}

#myBlog {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 21px;
    margin-top: 80px;
    padding: 2px 0px;
}

#signB {
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 23px;
    padding: 6px 12px;
    background-color: #4B5563;
}



.navSign,
.headerMenu {
    margin-top: 80px;
}

.headerMenu a {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 19px;
}

input[placeholder="Поиск"] {
    font-family: "Roboto";
    background-color: #1F293799;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 19px;
    width: 225px;
    padding: 10px 120px 10px 50px;
    box-sizing: border-box;
    border-radius: 100px;
    border-style: none;
    position: absolute;
    left: 1300px;
    top: 70px;
}


form p {
    margin: 13px 190px 13px 18px;
}

div[class="dateAndProf"] p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 17px;
    margin-bottom: 14px;
}
 
.psa {
        margin-left: auto;
        margin-right: auto;
        width: 180px;
        display: flex;
        justify-content: space-between;
}

#commentByNV {
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Roboto";
    line-height: 38px;
    padding: 5px;
    width: 525px;
    margin-bottom: 30px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.portfl {
    margin-bottom: 28px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
    text-align: center;
}

#NSN {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Roboto";
    line-height: 28px;
    width: 150px;
    line-height: 28px;
    margin: 0px;
    text-align: center;
}

#prof {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Roboto";
    line-height: 28px;
    width: 85px;
    height: 28px;
    margin: 0px;
    filter: contrast(30%);
}

.womanPh {
    padding-right: 10px;
}

.photoCompDiv {
    margin-bottom: 60px;
    width: 900px;
    height: 600px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

#firstP {
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Roboto";
    line-height: 32px;
    margin-top: 0px;
}

.secTh {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Roboto";
    line-height: 30px;
}

.secTh a {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Roboto";
    line-height: 30px;
    ;
}

.ps {
    margin-bottom: 103px;
    margin-left: auto;
    margin-right: auto;
    width: 710px;
}

footer {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Roboto";
    line-height: 28px;
    width: 226px;
    height: 28px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
}

.headerMenu {
    list-style: none;
    width: 330px;
    display: flex;
    justify-content: space-between;
    margin-left: 77px;
    padding: 0px;
}

 
.ee {
    display: flex;
    margin-left: 180px;
    align-items: baseline;
}

img[alt="search"] {
    position: absolute;
    left: 1318px;
    top: 82px;
}