* {
    box-sizing: border-box;
}

body {
    background-color: #F39494;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #333333;
    font-size: 36px;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    margin: 0px;
}

main {
    height: 120%;
}

p {
    color: #666666;
    font-size: 18px;
    font-weight: 400;
    font-family: "Open Sans";
}

label {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans";
    margin-right: 8px;
}

label a {
    text-decoration: none;
}

span {
    font-size: 40px;
    font-weight: 400;
    font-family: "Open Sans";
    color: #ffffff;
    position: absolute;
    top: -9px;
    right: 20px;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

form {
    background: #FFFEFE;
    max-width: 582px;
    max-height: 573px;
    border-radius: 10px;
    text-align: center;
    padding: 72px 91px 95px 93px;
    display: flex;
    flex-direction: column;
    gap: 47px;
    box-shadow: 0px 4px 4px 0px #00000040;

}

#entry {
    color: #089FE0;
    font-size: 18px;
    font-weight: 400;
    font-family: "Open Sans";
}

#name {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#lastname {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#reg {
    background-color: #089FE0;
    font-size: 18px;
    font-weight: 400;
    font-family: "Open Sans";
    color: #FFFFFF;
    height: 44px;
    width: 100%;
    border-radius: 5px;
    border-style: none;
    position: relative;
}

#conds {
    color: #089FE0;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans";
    padding-left: 8px;
}

#email {
    position: relative;
}

#conditions {
    border-radius: 5px;
    border: 1px solid #EEEEEE;
}

.MENUFORM {
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-items: center;
}

.GlobEnt {
    justify-content: center;
}

.GlobEnt p {
    margin: 0px;
}

.OwnInf {
    display: flex;
    justify-content: space-between
}

.accept {
    display: flex;
    height: 19px;
    justify-content: center;
    width: 100%;
    gap: 3px;
}


input:not(input[type="checkbox"]) {
    background-color: #F5F5F5;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    font-family: "Open Sans";
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    width: 100%;
    padding: 9px 11px;
}

input:not(input[type="checkbox"]):focus {
    background-color: white;
    outline: 0;
    border: 1px solid rgb(244, 236, 236);

}
