* {
    box-sizing: border-box;
}

body {
    background-color: #F39494;
}

h1 {
    color: #333333;
    font-size: 36px;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    margin: 0px;
}

p {
    color: #666666;
    font-size: 18px;
    font-weight: 400;
    font-family: "Open Sans";
}

input {
    width: 100%;
    padding: 9px 11px;
}

label {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans";
    margin-right: 8px;
}

span {
    font-size: 40px;
    font-weight: 400;
    font-family: "Open Sans";
    color: #ffffff;
    padding-left: 40px;
    position: absolute;
    top: -9px;
}

form {
    background: #FFFEFE;
    width: 582px;
    border-radius: 10px;
    margin: 225px auto;
    text-align: center;
    padding: 72px 91px 95px 93px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#entry {
    color: #089FE0;
    font-size: 18px;
    font-weight: 400;
    font-family: "Open Sans";
}

#nazvanie {
        color: #333333;
        font-size: 16px;
        font-weight: 600;
        font-family: "Open Sans";
        border-radius: 5px;
        border: 1px solid #F5F5F5;
        padding-left: 10px;
}

#name, #lastname, #email {
    background-color: #F5F5F5;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    font-family: "Open Sans";
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    padding-left: 10px;
}

#name, #lastname {
    width: 200px;
    height: 45px;
}

#name {
    margin-right: 2px;
}

#reg {
    background-color: #089FE0;
    font-size: 18px;
    font-weight: 400;
    font-family: "Open Sans";
    color: #FFFFFF;
    height: 44px;
    border-radius: 5px;
    border-style: none;
    position: relative;
}

#conds {
    color: #089FE0;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans";
    padding-left: 8px;
}

#email {
    border-radius: 5px;
    border: 1px solid #FFFFFF;
}

#conditions {
    width: 15px;
    height: 16px;
    border-radius: 5px;
    border: 1px solid #EEEEEE;
    margin-right: 6px;
}

.MENUFORM {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.GlobEnt {
    display: flex;
    justify-content: center;
    margin-bottom: 47px;
}

.GlobEnt p {
    margin: 0px;
}

.OwnInf {
    display: flex;
    justify-content: space-between
}

.accept {
    display: flex;
    height: 19px;
    justify-content: center;
}

